# This file goes in your /etc/udev/rules.d/ directory

SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="qapla-backup", ACTION=="add", \
    RUN+="/usr/local/bin/snapback"
